<nav class="navbar navbar-light" style="background-color: rgb(97, 186, 64);">
    <form class="container-fluid justify-content-start">
        <!-- <h5>Keyboard Part Picker</h5> -->
        <a class="navbar-brand" href="#" onclick="window.location.href='base.html'">
            <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                class="d-inline-block align-text-top" ">
            KDBPartPicker
        </a>
        <button class="btn btn-dark me-2 text-white" style="background-color: #237405;" type="button"
            onclick="window.location.href='index.html'">Inspiration
        </button>
        <button class="btn btn-dark me-2 text-white" style="background-color: #237405;" type="button"
            onclick="window.location.href='background.html'">Team Members
        </button>
        <button class="btn btn-dark me-2 text-white" style="background-color: #237405;" type="button"
            onclick="window.location.href='bulidGuide.html'">Bulid Guide
        </button>
    </form>
</nav>