<!DOCTYPE html>
<html>
    <title>Team Member</title>
    <head>
        <link rel = "stylesheet" href = "teamMem.css">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <!--miriam-->
        <div class = "mirTag">
            <div class = "rectangle"></div>
        </div>
        <div class = "mir">
            <div class = "rectangle"></div>
        </div>
        <div class = "mirName">
            <p>Miriam Harb</p>
        </div>
        <!--arturo-->
        <div class = "artTag">
            <div class = "rectangle"></div>
        </div>
        <div class = "art">
            <div class = "rectangle"></div>
        </div>
        <div class = "artName">
            <p>Arturo Calderon</p>
        </div>
        <!--jan andre-->
        <div class = "janTag">
            <div class = "rectangle"></div>
        </div>
        <div class = "jan">
            <div class = "rectangle"></div>
        </div>
        <div class = "janName">
            <p>Jan Andre<br>Verceles-Zara</p>
        </div>
    </body>
</html>
