<!DOCTYPE html>
<html>
    <title>Team Member</title>
    <head>
        <link rel = "stylesheet" href = "teamMem.css">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        { % include ‘navBar.html’ %}
    </head>
    <body>
            <nav class="navbar navbar-light" style="background-color: rgb(97, 186, 64);">
                <form class="container-fluid justify-content-start">
                <!-- <h5>Keyboard Part Picker</h5> -->
                    <a class="navbar-brand" href="#" onclick="window.location.href='{{ url_for('views.home') }}'">
                        <!-- <img  alt="" width="30" height="24" -->
                            <!-- class="d-inline-block align-text-top" "> -->
                        KDBPartPicker
                    </a>
                    <button class="btn btn-dark me-2 text-white" style="background-color: #237405;" type="button"
                        onclick="window.location.href=' {{ url_for('views.inspiration') }}'">Inspiration

                    </button>
                    <button class="btn btn-dark me-2 text-white" style="background-color: #237405;" type="button"
                        onclick="window.location.href='{{url_for('views.team_member')}}'">Team Members
                    </button>
                    <button class="btn btn-dark me-2 text-white" style="background-color: #237405;" type="button"
                        onclick="window.location.href='{{ url_for('views.bulid_guide')}}'">Bulid Guide

                    </button>
                </form>
        </nav>
        <!--miriam-->
        <!--contributions: working on setting up database-->
        <div class = "mirTag">
            <div class = "rectangle"></div>
        </div>
        <div class = "mir">
            <div class = "rectangle"></div>
        </div>
        <div class = "mirName">
            <p>Miriam Harb</p>
        </div>
        <!--arturo-->
        <!--add below comment tomorrow-->
        <!--contributions: fromt end and inilizaed the project-->
        <div class = "artTag">
            <div class = "rectangle"></div>
        </div>
        <div class = "art">
            <div class = "rectangle"></div>
        </div>
        <div class = "artName">
            <p>Arturo Calderon</p>
        </div>
        <!--jan andre-->
        <!--add jan andres contributions on page tomorrow as well-->
        <!--contributions: scraping the data-->
        <div class = "janTag">
            <div class = "rectangle"></div>
        </div>
        <div class = "jan">
            <div class = "rectangle"></div>
        </div>
        <div class = "janName">
            <p>Jan Andre<br>Verceles-Zara</p>
        </div>
    </body>
</html>
