<!DOCTYPE html>
<html>
    <title>Team Member</title>
    <head>
        <link rel = "stylesheet" href = "teamMem.css">
    </head>
    <body>
        <!--miriam-->
        <div class = "mirTag">
            <div class = "rectangle"></div>
        </div>
        <div class = "mir">
            <div class = "rectangle"></div>
        </div>
        <!--arturo-->
        <div class = "artTag">
            <div class = "rectangle"></div>
        </div>
        <div class = "art">
            <div class = "rectangle"></div>
        </div>
        <!--jan andre-->
        <div class = "janTag">
            <div class = "rectangle"></div>
        </div>
        <div class = "jan">
            <div class = "rectangle"></div>
        </div>
    </body>
</html>