@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


*{
    font-family: 'Outfit', sans-serif;
    list-style: none;
    /* background-color: #389970; */

}


body{   
     background-color: #389970;
}